
#text-inspector {
    position: fixed;
    bottom: 20px;
    right: 10px;
    max-height: 400px;
    box-shadow:0 2px 4px #b7b5b5;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px;
    font-weight: lighter;
    z-index: 999;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    max-width: 400px;
  }

  hr{
    height: 0;
    border:0.5px solid #fff;
  }

  /* #text-inspector {
  position:relative;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  pointer-events: none;
  white-space: nowrap;
  max-width: 250px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}*/

  #text-inspector p {
    font-size:18px;
    letter-spacing: 2px;
    padding: 5px;
    font-family: 'Fraunces',sans-serif;

  }

  

  .color-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:0 10px;
    margin-bottom: 10px;
    
  }

  .size{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    text-align: center;
    margin-bottom: 5px;
  }
  .color-palette {
    width: 20px;
    height: 20px;
  
  
    
  }

  /* Highlighted feature styles */

#highlight-tooltip {
  position: fixed;
  bottom: 0;
  left: 10px;
  width:250px;
  height: 100px;
  z-index: 9999;
  gap: 15px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#highlight-tooltip button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #555;
  color: #fff;
  padding: 6px 8px;
  border: none;
  border-radius: 4px;
  margin-right: 4px;
  cursor: pointer;
}

#highlight-tooltip button:hover {
  background-color: #777;
}

#highlight-tooltip button:active {
  background-color: #444;
}

/*.highlighted {
  background-color: #ffcc00 !important;
  /* Adjust the color to your preference 
}*/


 
  