
#text-inspector {
    position: fixed;
    bottom: 20px;
    right: 10px;
    max-height: 400px;
    box-shadow:0 2px 2px #b7b5b5;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px;
    font-weight: normal;
    z-index: 999;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    max-width: 400px;
  }

  hr{
    height: 0.5px;
    width: 100%;
    background-color: #b7b5b5;
    border:none;
  }

  #text-inspector p {
    font-size:14px;
    letter-spacing: 2px;
    padding: 5px;
    font-family: 'Fraunces',sans-serif;

  }

  .color-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction:column;
    gap:0 2px;
    margin-bottom: 5px;
    white-space: nowrap;
    
  }

  .size{
    display: flex;
    align-items: center;
    gap:15px;
    text-align: center;
    margin-bottom: 5px;
  }
  .color-palette {
  
    width: 20px;
    height: 20px;
  
  
    
  }

  
  