
body {
   display: flex; 
   align-items: center;
   justify-content: center;
   font-family:'Montserrat', sans-serif;
    font-size: 14px;
    background-color: rgba(0,0,0,0.3);
}

main{
    
    padding: 20px;
    text-align: center;
    font-weight: 500;
    color: #fff;
}

#extension-trigger{
    border: none;
    text-decoration: underline;
}

