/* Highlighted feature styles */

#highlight-tooltip {
    position: fixed;
    bottom: 0;
    left: 10px;
    width:250px;
    height: 100px;
    z-index: 9999;
    gap: 15px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #highlight-tooltip button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #555;
    color: #fff;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    margin-right: 4px;
    cursor: pointer;
  }
  
  #highlight-tooltip button:hover {
    background-color: #777;
  }
  
  #highlight-tooltip button:active {
    background-color: #444;
  }
  
  /*.highlighted {
    background-color: #ffcc00 !important;
    /* Adjust the color to your preference 
  }*/
  
  
   